*.DS_store

*.csv
1_intro/ny_taxi_postgres_data/*
private/*
1_intro/terraform/
1_intro/data_pgadmin

2_data_ingestion/airflow/dags/*
2_data_ingestion/airflow/logs/*
2_data_ingestion/airflow/plugins/*

3_data_warehouse/airflow/dags/*
3_data_warehouse/airflow/logs/*
3_data_warehouse/airflow/plugins/*

7_project/airflow/dags/*
7_project/airflow/logs/*
7_project/airflow/plugins/*
7_project/terraform/

*.json
*.json.gz